<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/Portofolio-Ghani/dist/output.css">
</head>
<body>
    <section>
        <div class="hero">
            <div class="hero-content">
                <img src="https://images.unsplash.com/photo-1518826778770-a729fb53327c?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
        </div>
        <div class="card bg-base-300 w-full max-w-sm shrink-0 shadow-xl m-auto mt-20">
            <form class="card-body" action="">
                <div class="form-control">
                    <label class="label" for="email">
                        <span class="label-text font-semibold">email</span>
                    </label>
                    <input type="email" class="input input-bordered " placeholder="email" required>
                </div>
                <div class="form-control">
                    <label class="label" for="password">
                        <span class="label-text">Password</span>
                    </label>
                    <input type="password" name="password_login" class="input input-bordered" id="" placeholder="password" required>
                </div>
                <button class="btn bg-white font-bold text-black">
                    Login
                </button>
            </form>
        </div>
    </section>
</body>
</html>